* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

:root {
  --primary: #4338CA;
  --secondary: #E0E7FF;
  --text: #111827;
  --subtext: #4B5563;
  --contrast-color: #FFFFFF;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

body {
  background-color: var(--contrast-color);
  text-align: center;
}

.container {
  padding-top: 56px;
}

.title {
  font-size: 48px;
  color: var(--text);
}

.links-container {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));  
  justify-items: center;
  margin: 60px auto;
  padding: 0 16px;
  width: 1025px;
}

.button {
  text-align: center;
  text-decoration: none;
  color: var(--contrast-color);
  background-color: var(--primary);

  width: 10rem;
  height: 60px;

  border-radius: 12px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}