* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

:root {
  --primary: #4338CA;
  --secondary: #E0E7FF;
  --text: #111827;
  --subtext: #4B5563;
  --contrast-color: #FFFFFF;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--contrast-color);
  text-align: center;
}

.container {
  padding-top: 56px;
}

.title {
  font-size: 48px;
  color: var(--text);
}

.links-container {
  width: 100vw;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
  justify-items: center;

  margin-top: 60px;
  padding: 0 32px;
}

.link-card {
  height: 220px;
  cursor: pointer;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.iframe-challenge {
  z-index: 2;
}