.container {
  width: 480px;
  height: 480px;
  background: #3498db;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: grid;
  place-items: center;
}

.ball {
  width: 200px;
  height: 200px;
  
  position: absolute;

  border-radius: 50%;
  border: 1px solid #FFF;
}

.ball1 {
  animation: rotate1 2000ms ease-in-out infinite forwards;
  transform: rotate(135deg);
}

@keyframes rotate1 {
  10% {
    transform: rotateX(-135deg) rotateY(-135deg);
  }

  80% {
    transform: rotateX(-235deg) rotateY(-325deg);
  }
}